aiogram~=2.14
python-dotenv~=0.21.1
environs
python-docx
openpyxl~=3.0.7
docx2pdf~=0.1.8
pip~=22.0.4
attrs~=23.1.0
wheel~=0.37.1
cryptography~=41.0.3
Jinja2~=2.11.3
setuptools~=68.0.0
packaging~=21.3
pyparsing~=3.0.9
SQLAlchemy~=2.0.28
sqlmodel~=0.0.8
Mako~=1.2.4
xhtml2pdf~=0.2.11
fastapi~=0.103.2
uvicorn
psycopg2
starlette~=0.27.0
pyngrok~=7.0.5
docx~=0.2.4
qrcode~=7.4.2
pyzbar
Pillow~=9.5.0
pyngrok==7.0.5